<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Page 1</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->


    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  </head>
  <br>
  <br>
  <br>
  <body>
    <!-- Retrieve -->

   <div class="container-fluid">
    <div class="d-flex flex-row justify-content-around">
      <select class="form-select" aria-label="Default select example">
        <option selected>Langage</option>
        <option value="1">Javscript</option>
        <option value="2">HTML</option>
        <option value="3">Python</option>
      </select>
      &nbsp;
      &nbsp;
      <select class="form-select" aria-label="Default select example">
        <option selected>Dossier</option>
        <option value="1">Alert</option>
        <option value="2">Buttons</option>
        <option value="3">Boucles</option>
      </select>
      &nbsp;
      &nbsp;
      <select class="form-select" aria-label="Default select example">
        <option selected>Sous dossier</option>
        <option value="1">Alert.js</option>
        <option value="2">Buttons.html</option>
        <option value="3">Boucles.py</option>
      </select>
      
    </div>     
   </div>

   <br>
   <br>
   <br>


     <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <br>
      <br>
      <button class="btn btn-primary">Créer</button>


  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fichiers</th>
    </tr>
  </thead>
  <tbody>
    <button class="btn btn-light"><tr>
      <th scope="row">1</th>
      <td>Alert.js   &nbsp; &nbsp;</td>
      <td><button class="btn btn-light">Modifier✎</button></td>
      <td><button class="btn btn-light">Supprimer🗑️</button></td>
    </tr></button>
    <tr>
      <th scope="row">1</th>
      <td>Buttons.html </td>
      <td><button class="btn btn-light">Modifier✎</button></td>
      <td><button class="btn btn-light">Supprimer🗑️</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>GridSystem.html </td>
       <td><button class="btn btn-light">Modifier✎</button></td>
      <td><button class="btn btn-light">Supprimer🗑️</button></td>
    </tr>
  </tbody>
</table>

  </body>










</html>

